[project]
	description = Corpse Slasher is a 3D hack & slash game. The project is under taken by Laminin as our 3rd year Software Engineering project.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nico Taljaard (njTaljaard)
[access "refs/for/refs/*"]
	read = group user/Nico Taljaard (njTaljaard)
	push = group user/Nico Taljaard (njTaljaard)
	label-Code-Review = -2..+2 group user/Nico Taljaard (njTaljaard)
	label-Verified = -1..+1 group user/Nico Taljaard (njTaljaard)
	rebase = group user/Nico Taljaard (njTaljaard)
	removeReviewer = group user/Nico Taljaard (njTaljaard)
	submit = group user/Nico Taljaard (njTaljaard)
[access "refs/heads/*"]
	read = group user/Nico Taljaard (njTaljaard)
	create = group user/Nico Taljaard (njTaljaard)
	push = +force group user/Nico Taljaard (njTaljaard)
	pushMerge = group user/Nico Taljaard (njTaljaard)
[access "refs/tags/*"]
	push = +force group user/Nico Taljaard (njTaljaard)
	pushTag = group user/Nico Taljaard (njTaljaard)
	pushSignedTag = group user/Nico Taljaard (njTaljaard)
